.Board {
  min-width: 200px;
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 50px #fff, -10px 0 80px rgb(68, 0, 255), 10px 0 80px #0ff;
}

.Board-title {
  display: inline-block;
  align-items: center;
  justify-content: center;
}

.flex {
  display: flex;
}

table tr:first-child td:first-child {
  border-radius: 10px 0 0 0 !important;
}

table tr:first-child td:last-child {
  border-radius: 0 10px 0 0 !important;
}

table tr:last-child td:first-child {
  border-radius: 0 0 0 10px !important;
}

table tr:last-child td:last-child {
  border-radius: 0 0 10px 0 !important;
}

@font-face {
  font-family: neon;
  src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/neon.ttf);
}

.neon-teal {
  font-family: neon;
  color: #00bcd4;
  font-size: 80px;
  line-height: 9vw;
  text-shadow: 0 0 3vw #00bcd4;
}

.neon-blue {
  font-family: neon;
  color: #426dfb;
  font-size: 80px;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356ff;
}

.winner .neon-blue,
.winner .neon-teal {
  font-size: 20vw;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  .neon-teal {
    font-size: 40px;
    line-height: 9vw;
  }

  .neon-blue {
    font-size: 40px;
    line-height: 9vw;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .neon-teal {
    font-size: 60px;
    line-height: 9vw;
  }

  .neon-blue {
    font-size: 60px;
    line-height: 9vw;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .neon-teal {
    font-family: neon;
    color: #00bcd4;
    font-size: 80px;
    line-height: 9vw;
    text-shadow: 0 0 3vw #00bcd4;
  }

  .neon-blue {
    font-family: neon;
    color: #426dfb;
    font-size: 80px;
    line-height: 9vw;
    text-shadow: 0 0 3vw #2356ff;
  }
}
