.Cell {
  height: 100px;
  width: 100px;
  background-color: #263238;
  border-radius: 1px;
  transition: background-color 0.4s ease;
}

.Cell-lit {
  background-color: #00bcd4;
}

/* Small devices (landscape phones, 576px and up) */
@media (max-width: 768px) {
  .Cell {
    height: 50px;
    width: 50px;
  }
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .Cell {
    height: 80px;
    width: 80px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .Cell {
    height: 100px;
    width: 100px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
/* @media (min-width: 1200px) {
} */
