.Home {
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
  height: 100vh;
}

.neon-teal-animated {
  font-family: neon;
  color: #00bcd4;
  font-size: 6rem;
  line-height: 9vw;
  text-shadow: 0 0 3vw #00bcd4;
  animation: neon-teal 2.5s ease infinite;
  -moz-animation: neon-teal 2.5s ease infinite;
  -webkit-animation: neon-teal 2.5s ease infinite;
}

.neon-blue-animated {
  font-family: neon;
  color: #426dfb;
  font-size: 6rem;
  line-height: 9vw;
  text-shadow: 0 0 3vw #2356ff;
  animation: neon-blue 2s linear infinite;
  -moz-animation: neon-blue 2s linear infinite;
  -webkit-animation: neon-blue 2s linear infinite;
  -o-animation: neon-blue 2s linear infinite;
}

/* @keyframes neon-teal {
  0%,
  100% {
    text-shadow: 0 0 1vw #00bcd4, 0 0 3vw #00bcd4, 0 0 10vw #00bcd4,
      0 0 10vw #00bcd4, 0 0 0.4vw #00bcd4, 0.5vw 0.5vw 0.1vw #666665;
    color: #00bcd4;
  }
  50% {
    text-shadow: 0 0 0.5vw #026572, 0 0 1.5vw #026572, 0 0 5vw #026572,
      0 0 5vw #026572, 0 0 0.2vw #026572, 0.5vw 0.5vw 0.1vw #40340a;
    color: #806914;
  }
} */

@keyframes neon-blue {
  0%,
  100% {
    text-shadow: 0 0 1vw #1041ff, 0 0 3vw #1041ff, 0 0 10vw #1041ff,
      0 0 10vw #1041ff, 0 0 0.4vw #8bfdfe, 0.5vw 0.5vw 0.1vw #147280;
    color: #28d7fe;
  }
  50% {
    text-shadow: 0 0 0.5vw #082180, 0 0 1.5vw #082180, 0 0 5vw #082180,
      0 0 5vw #082180, 0 0 0.2vw #082180, 0.5vw 0.5vw 0.1vw #0a3940;
    color: #146c80;
  }
}

.start-game {
  position: relative;
  top: -100px;
  font-family: neon;
  width: fit-content;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 1px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
  font-size: 2rem;
}

.start-game:hover,
.start-game:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27ae60;
}
